<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>insecure website</title>
        <meta name="author" content="GoldenStack">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preload" href="{{ crate::PREFIX }}assets-font{{ crate::HOSTNAME }}" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="{{ crate::PREFIX }}assets-css{{ crate::HOSTNAME }}">

    </head>

    <body>
        <div class="header">
            <div class="title">
                <h1><s>In</s>secure Website</h1>
            </div>
            <div class="navbar">
                <h3><a href="{{ crate::PREFIX }}index{{ crate::HOSTNAME }}">home</a></h3>
                <h3><a href="{{ crate::PREFIX }}browse{{ crate::HOSTNAME }}">browse</a></h3>
                <h3><a href="{{ crate::PREFIX }}login{{ crate::HOSTNAME }}">login</a></h3>
                <h3><a href="https://github.com/GoldenStack/insecure-website">source</a></h3>
            </div>
        </div>

        <br>

        <div style="text-align: center;">
            <h3>verified users</h3>

            <br>
            {% for user in users %}
                <a href="{{ crate::PREFIX}}get-username-{{ user }}{{ crate::HOSTNAME}}"><h4 style="margin-top: 1.0rem;">{{ user }}&nbsp;<span title="verified">⭐</span></h4></a>
                <br>
            {% endfor %}

            <br>
            
            <h style="font-size: 0.7rem;">these are the users deemed to be the coolest.</h>
            <br>
            <h style="font-size: 0.7rem;">and by that, i mean i know they are not bots.</h>
            <br>
            <h style="font-size: 0.7rem;">want to get verified? message me on discord @GoldenStack</h>

            <br>
        </div>
    </body>

    <style>
        input[type="checkbox"] {
            line-height: 0em;
            pointer-events: none;

            margin: 0.5rem 0.5rem;

            width: 1.5rem;
            height: 1.5rem;
        }
    </style>

</html>