<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>site</title>
        <meta name="author" content="GoldenStack">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/assets/golden.png">

        <link rel="preload" href="/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="/assets/style.css">

    </head>

    <body>
        <h1><s>In</s>secure Website</h1><br>

        <p>{{ header }}</p>

        <p>{{ description }}</p>

        <p><a onclick="window.history.back();">back</a></p>
    </body>

</html>