<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>insecure website</title>
        <meta name="author" content="GoldenStack">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/assets/golden.png">

        <link rel="preload" href="/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="/assets/style.css">

    </head>

    <body>
        <div class="header">
            <div class="title">
                <h1><s>In</s>secure Website</h1>
            </div>
            <div class="navbar">
                <h3><a href="{{ crate::PREFIX }}index{{ crate::HOSTNAME }}">home</a></h3>
                <h3><a href="{{ crate::PREFIX }}login{{ crate::HOSTNAME }}">login</a></h3>
                <h3><a href="https://github.com/GoldenStack/insecure-website">source</a></h3>
            </div>
        </div>

        <br>

        <p>{{ header }}</p>

        <p>{{ description }}</p>

        <br>
        <button type="button" onclick="window.history.back();">back</button>
    </body>

</html>